{
  "presets": [
    [ "es2015", { "modules": false } ],
    "es2017",
    "react",
    "stage-0"
  ],
  "plugins": [
    [ "import", { "libraryName": "antd" } ],
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [
        "babili"
      ]
    }
  }
}
