@import '../../main.css';

#app {
  background: #eee;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#app .container {
  padding: 10px;
}

#app .ant-layout-header {
  display: flex;
  background: #fff;
  padding: 0;
  height: 116px;
  line-height: 72px;
  font-size: 14px;

  & .header {
    display: flex;
    flex-direction: column;
    flex: 1;

    & .title {
      display: flex;
      flex-direction: row;
      line-height: 16px;
      padding: 14px 5px;
      background: #404040;
      color: #fff;
      font-size: 12px;

      & > div {
        display: flex;
        align-items: center;
        flex: 1;
      }

      & .text {
        font-size: 16px;
        font-weight: 700;
      }

      & .update {
        color: #efefef;
        align-self: flex-end;
        align-items: flex-end;
        flex-direction: column;
      }
    }

    & .profile {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 72px;
      line-height: 72px;

      & .column-left {
        display: flex;
        align-items: flex-start;
        flex: 1;

        & div {
          display: inline-flex;
          padding-right: 5px;
        }
      }

      & .column-right {
        padding: 0 5px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        flex: 1;

        & > div.status {
          display: flex;
          align-items: flex-end;

          & > .emoji {
            align-items: center;
            align-self: center;
            display: flex;
          }

          & > div {
            padding-left: 5px;
          }
        }
      }
    }

    & .loading {
      display: flex;
      flex: 1;
      align-items: center;
      align-self: center;
    }
  }
}


#app .ant-layout-content {
  & .title {
    display: flex;
    flex-direction: row;
    line-height: 16px;
    padding: 14px 5px;
    background: #404040;
    color: #fff;

    & > div {
      display: flex;
      align-items: center;
      flex: 1;
    }

    & .text {
      font-size: 16px;
      font-weight: 700;
    }

    & .update {
      color: #efefef;
      align-self: flex-end;
      align-items: flex-end;
      flex-direction: column;
    }
  }
}

#app .ant-layout-footer {
  text-align: center;
}