@import '../../main.css';

#app {
  background: #eee;
  display: flex;
  flex: 1;
  flex-direction: column;

  & .ant-layout-footer {
    text-align: center;
  }

  & .loading {
    display: flex;
    flex: 1;
    align-items: center;
    align-self: center;
  }
}