html, body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}

tr {
  background: #fff;
}

tr:nth-child(even) {
  background: #fafafa;
}

img.emoji {
  max-width: 24px;
  max-height: 24px;
}